<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.118.0" newVersion="1.0.118.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--相机识别码34bd2028ebb4_Hikrobot_MVCH25090GM-->
    <add key="CameraIdentifier" value="GEV:00DA0879936 MV-CH250-90GM" />
    <!--PlcIP地址-->
    <add key="PlcIP" value="192.168.0.100" />
    <!--读Plc数据的DB块号-->
    <add key="ReadPlcDB" value="2" />
    <!--读Plc数据的长度-->
    <add key="ReadPlcDataLength" value="26" />
    <!--写Plc数据的DB块号-->
    <add key="WritePlcDB" value="1" />
    <!--写Plc数据的长度-->
    <add key="WritePlcDataLength" value="25" />
    <!--PLC数据交换缓冲区大小-->
    <add key="PlcDataExchangeBufferSize" value="100" />
    
    <!--内圆卡尺长度-->
    <add key="InnerCaliperLength" value="25" />
    <!--内圆半径-->
    <add key="InnerRadius" value="260" />
    <!--偏差倍数-->
    <add key="CalipersDevExpand" value="6" />
    <!--测量卡尺长度-->
    <add key="CalipersMeaLength" value="30" />
    <!--测量卡尺宽度-->
    <add key="CalipersMeaWidth" value="8" />
    <!--分割阈值-->
    <add key="CalipersAmpThreshold" value="10" />
    <!--平滑参数-->
    <add key="CalipersSmooth" value="3" />
    <!--外圆最小阈值-->
    <add key="OuterMinThreshold" value="30" />  

    <!--最小相似度-->
    <add key="MinSimilarity" value="0.7" />
    <!--图像缩放（模板制作和模板匹配）-->
    <add key="ImageScale" value="0.1" />
    <!--模板角度开始-->
    <add key="TemplateAngleStart" value="0" />
    <!--模板角度范围-->
    <add key="TemplateAngleExtent" value="2.355" />
    <!--窗口微调时的单轮廓膨胀值-->
    <add key="SingleXldDilation" value="20.5" />
    <!--窗口暗部最小面积-->
    <add key="DarkMinArea" value="5" />
    <!--窗口亮部最小面积-->
    <add key="BrightMinArea" value="1" />
    <!--窗口微调时的暗部最大阈值-->
    <add key="DarkMaxThreshold" value="14" />
    <!--窗口微调时的亮部最小阈值-->
    <add key="BrightMinThreshold" value="30" />
    <!--窗口微调时合并轮廓后的膨胀值-->
    <add key="UnionDilationErosion" value="10.5" />
    <!--轮廓点投影的最大距离，超过这个距离取原始的点-->
    <add key="MaxDistance" value="1" />
    <!--加工路径偏移（像素：1像素大约等于0.12mm）-->
    <add key="MachiningLocusOffset" value="5" />

    <!--边缘算法滤镜参数：值越小，平滑效果越强，细节越少-->
    <add key="CannyAlpha" value="3" />
    <!--边缘算法Canny低阈值-->
    <add key="CannyLowThresold" value="5" />
    <!--边缘算法Canny高阈值-->
    <add key="CannyHighThresold" value="10" />
    <!--边缘算法轮廓最小长度-->
    <add key="XldMinLength" value="500" />
    <!--对比度增强掩模的宽高（3 ≤ Mask ≤ 201）-->
    <add key="MaskWidthHeight" value="29" />
    
    <!--Igs文件路径-->
    <add key="IgsPath" value="D:/Deburr/Igs/" />
      
    <!--基础四元数-->
    <add key="BaseQuaternion" value="0.00000,-0.99999,-0.00409,0.00332" />

    <!--生成进刀点X轴偏移距离（mm）-->
    <add key="EntryPointXAxisOffsetDistance" value="25" />
    <!--生成进刀点Y轴偏移距离（mm）-->
    <add key="EntryPointYAxisOffsetDistance" value="-25" />
    <!--生成出刀点X轴偏移距离（mm）-->
    <add key="ExitPointXAxisOffsetDistance" value="25" />    
    <!--生成出刀点Y轴偏移距离（mm）-->
    <add key="ExitPointYAxisOffsetDistance" value="25" />   
    <!--生成进出刀点时相对于起点和终点的偏移高度（mm）-->
    <add key="EntryExitPointOffsetHeight" value="80" />
    <!--增加点相对于选中点偏移距离（mm）-->
    <add key="IncreasePointOffsetDistance" value="3" />
    <!--允许的总轨迹点数-->
    <add key="TotalTrajectoryPointsAllowed" value="2000" />   

    <!--发送多少个坐标给机器人后启动加工-->
    <add key="NumberOfCoordinates" value="100" />
    
  </appSettings>
</configuration>